<section class="flex flex-row justify-center items-center sm:w-full hero-background">
  <div class="flex flex-col justify-center items-center py-48 max-w-3xl">
    <!-- Your text goes here -->
    <div class="mb-4 text-center font-extrabold tracking-tight leading-none text-black sm:text-4xl md:text-5xl lg:text-6xl">When It's More Than A Pet</div>
    <div class="w-3/4 my-3 sm:text-2xl md:text-3xl lg:text-4xl text-center text-gray-600 tracking-tight">We are a family run pet store focused on organic foods and treats.  We believe play is the best medicine, so our toys are fun for you and your pet. Sign up for our newsletter to get coupons and specials.</div>
    <div class="w-2/3 my-3">
      <form>
        <label for="newsletter" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Newsletter</label>
        <div class="relative">
          <input type="text" id="newsletter" class="block w-full py-3 pl-5 pr-3 ps-5 text-xl text-gray-600 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-400 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="email address" required />
          <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Subscribe</button>
        </div>
      </form>
    </div>
  </div>
  <div class="w-1/3 ">
  </div>
</section>

<section class="bg-white dark:bg-gray-900">
  <div class="max-w-screen-xl px-4 py-8 mx-auto my-auto text-center lg:py-16 lg:px-6">
    <figure class="max-w-screen-md mx-auto">
      <svg class="h-12 mx-auto mb-3 text-gray-400 dark:text-gray-600" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z" fill="currentColor"/>
      </svg>
      <blockquote>
        <p class="text-2xl font-medium text-gray-900 dark:text-white">"Tanuki Petstore is a one stop shop for all our pets needs and we have a 2 dogs, 2 cats, a parakeet and a bearded dragon."</p>
      </blockquote>
      <figcaption class="flex items-center justify-center mt-6 space-x-3">
        <img class="w-6 h-6 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/michael-gouch.png" alt="profile picture">
        <div class="flex items-center divide-x-2 divide-gray-500 dark:divide-gray-700">
          <div class="pr-3 font-medium text-gray-900 dark:text-white">Bill Peebles</div>
          <div class="pl-3 text-sm font-light text-gray-500 dark:text-gray-400">Davidson Resident</div>
        </div>
      </figcaption>
    </figure>
  </div>
</section>

